body {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    max-width: 1130px;
    margin: 0 auto;
    color:#1F1F1F;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-flex {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 36px;
}
.nav-flex a {
    margin-right: 24px;
}
a {
    text-decoration: none;
    color: #33383F;
}
.sing-in {
    color: #0070A0;
    background: none;
    border: none;
}
.demo {
    color: #FFFFFF;
    background-color: #0070A0;
    padding: 6px 20px;
    border: none;
}
h1 {
    font-family: "Fraunces", serif;
    font-size: 58px;
    font-weight: 400;
    color: #1F1F1F;
}
.main-info-text {
    font-size: 20px;
    color: #1F1F1F;
}
.main-info-buttons {
    display: flex;
    align-items: center;
}
.main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px auto 120px auto
}
.main-info-left {
    width: 525px;
}
.companies-text {
    margin: 0 auto;
    width: fit-content;
    font-size: 24px;
    margin-bottom: 25px;
}
li{
    list-style-type:  none;
    
}
.companies-list {
    display: flex;
    justify-content: center;     
}
.companies-list li {
    margin-right: 62px;
}
.features{
    display: flex;
    margin-top: 162px;
    margin-bottom: 20px;
    justify-content: space-between;
}
.features div{
    padding:32px 32px 40px 32px;
    width: 291px;
}
h2{
    font-family: "Fraunces", serif;
    font-size: 25px;
    font-weight: 400;
}
.features-fast {
    background-color: #FAEA73 ;
}
.features-buck {
    background-color: #CCEFF6 ;
}
.features-safe {
    background-color: #F7CEDC ;
}
