body {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    max-width: 1130px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-flex {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 36px;
}
.nav-flex a {
    margin-right: 24px;
}
a {
    text-decoration: none;
    color: #33383F;
}
.sing-in {
    color: #0070A0;
    background: none;
    border: none;
}
.demo {
    color: #FFFFFF;
    background-color: #0070A0;
    padding: 6px 20px;
    border: none;
}
h1 {
    font-family: "Fraunces", serif;
    font-size: 58px;
    font-weight: 400;
    color: #1F1F1F;
}
.main-info-text {
    font-size: 20px;
    color: #1F1F1F;
}
.main-info-buttons {
    display: flex;
    align-items: center;
}
.main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-info-left {
    width: 525px;
}